{% extends 'base.html.twig' %}

{% block title %}New Commande{% endblock %}

{% block body %}
    <section class="row">

            <div class="col-4 mt-4">
                <div class="border border-dark rounded p-2 clearfix">
                    <p><label class="-mbs required" for=""><span class="required">*</span></label><br>
                        <input placeholder="Prénom" class="osh-input -full-width" required="required" data-msg-required="Champs requis"  type="text" maxlength="50"></p>
                    <p><label class="-mbs required" for="ShippingAddressForm_first_name">Nom<span class="required">*</span></label><br>
                        <input placeholder="Nom" class="osh-input -full-width" required="required" data-msg-required="Champs requis"  type="text" maxlength="50"></p>
                    <p><label class="-mbs required" for="ShippingAddressForm_phone">Numéro de téléphone mobile <span class="required">*</span></label><br>
                        <input placeholder="00 000 000" class="osh-input -full-width ft-phone1-text-field" required="required"  type="text" maxlength="20"></p>
                    <p><label class="-mbs required" >Adresse<span class="required">*</span></label> <br><textarea placeholder="Rue / Appartement / Suite / Bloc / Bâtiment" class="osh-input -text-area"maxlength="255"></textarea></p>
                    <p><label class="-mbs">Infos complémentaires</label><br> <textarea placeholder="Détails supplémentaires sur l'adresse" class="osh-input -text-area"  maxlength="255"></textarea></p>
     
                         
                    <a href="{{ path('OrdersToCsv') }}"class = "btn btn-success" >CSV file</a>
                </div>
            </div>

    </section>

{% endblock %}

